.bd-navbar, footer {
    background-color: #563d7c
}


.jumbotron {
    padding: 1rem;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer li {
    font-size: 1.25rem;
    font-family:'Courier New', Courier, monospace
}